{#<div class="footer text-muted {{ classes }}">#}
{#    {% now 'Y' as year %}#}
{#    {% with created='2017' %}#}
{#        &copy; {{ created }}{% if year > created %}-{{ y }}{% endif %}. <a href="#">Limitless Web App Kit</a> by <a href="http://themeforest.net/user/Kopyov" target="_blank">Eugene Kopyov</a>#}
{#        <div class="footer-version">Version {{ version }}</div>#}
{#    {% endwith %}#}
{#</div>#}