<div class="{{ progress_theme }}">
    <div class="pace_progress"
         data-progress-url="{% url 'upload-progress' %}?X-Progress-ID={{ progress_id }}"
         data-progress-completed="false"
         data-progress-text="0%"
         data-progress="0"
         style="width: 0;">
    </div>
    <div class="pace_activity"></div>
</div>