<div class="sidebar-category sidebar-category-visible">
    <div class="category-content no-padding">
        <ul class="navigation navigation-main navigation-accordion">

            <!-- Main -->
            <li class="{% if slug == 'home' %}active{% endif %}"><a href="{% url 'page:home' %}"><i class="icon-home4"></i> <span>My Page</span></a></li>
            <li class="{% if slug == 'messages' %}active{% endif %}">
                <a href="{% url 'page:messages' %}"><i class="icon-bubbles2"></i> <span>Messages <span class="label bg-indigo-400">{% if not new_messages|length_is:0 %}{{ new_messages|length }}{% endif %}</span></span></a>
            </li>
            <li class="{% if slug == 'peoples' %}active{% endif %}"><a href="{% url 'page:peoples' %}"><i class="icon-users"></i> <span>Peoples</span></a></li>
            <li class="{% if slug == 'timetable' %}active{% endif %}"><a href="{% url 'page:timetable' %}"><i class="icon-calendar2"></i> <span>Timetable</span></a></li>
            <li class="{% if slug == 'cabinets' %}active{% endif %}"><a href="{% url 'page:cabinets' %}"><i class="icon-enter2"></i> <span>Cabinets</span></a></li>
            <li class="{% if slug == 'partners' %}active{% endif %}"><a href="{% url 'page:partners' %}"><i class="icon-user"></i> <span>Partners</span></a></li>
            <li><a href="#"><i class="icon-microscope"></i> <span>Specialties</span></a></li>
            <!-- /main -->

        </ul>
    </div>
</div>