<div class="navbar navbar-default navbar-fixed-top header-highlight">{% load static hogwarts_ui %}
    <div class="navbar-header">
        <a class="navbar-brand" href="/"><img src="{% static 'images/logo_light.png' %}" alt=""></a>
        <ul class="nav navbar-nav visible-xs-block">
            <li><a class="sidebar-mobile-main-toggle"><i class="icon-paragraph-justify3"></i></a></li>
            {% if slug in 'cabinets' %}
                <li><a class="sidebar-mobile-detached-toggle"><i class="icon-filter3"></i></a></li>
            {% endif %}
        </ul>
    </div>
    <div class="navbar-collapse collapse" id="navbar-mobile">
        <ul class="nav navbar-nav">
        </ul>
        <div class="navbar-right">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-bell2"></i>
                        <span class="visible-xs-inline-block position-right">Activity</span>
{#                        <span class="status-mark border-pink-300"></span>#}
                        <span class="badge bg-indigo-400 border-white">236</span>
                    </a>

                    <div class="dropdown-menu dropdown-content">
{#                        <div class="dropdown-content-heading">#}
{#                            Activity#}
{#                            <ul class="icons-list">#}
{#                                <li><a href="#"><i class="icon-menu7"></i></a></li>#}
{#                            </ul>#}
{#                        </div>#}

                        <ul class="media-list dropdown-content-body width-350">
                            <li class="media">
                                <div class="media-left">
                                    <a href="#" class="btn bg-success-400 btn-rounded btn-icon btn-xs"><i class="icon-mention"></i></a>
                                </div>

                                <div class="media-body">
                                    <a href="#">Taylor Swift</a> mentioned you in a post "Angular JS. Tips and tricks"
                                    <div class="media-annotation">4 minutes ago</div>
                                </div>
                            </li>

                            <li class="media">
                                <div class="media-left">
                                    <a href="#" class="btn bg-pink-400 btn-rounded btn-icon btn-xs"><i class="icon-paperplane"></i></a>
                                </div>

                                <div class="media-body">
                                    Special offers have been sent to subscribed users by <a href="#">Donna Gordon</a>
                                    <div class="media-annotation">36 minutes ago</div>
                                </div>
                            </li>

                            <li class="media">
                                <div class="media-left">
                                    <a href="#" class="btn bg-blue btn-rounded btn-icon btn-xs"><i class="icon-plus3"></i></a>
                                </div>

                                <div class="media-body">
                                    <a href="#">Chris Arney</a> created a new <span class="text-semibold">Design</span> branch in <span class="text-semibold">Limitless</span> repository
                                    <div class="media-annotation">2 hours ago</div>
                                </div>
                            </li>

                            <li class="media">
                                <div class="media-left">
                                    <a href="#" class="btn bg-purple-300 btn-rounded btn-icon btn-xs"><i class="icon-truck"></i></a>
                                </div>

                                <div class="media-body">
                                    Shipping cost to the Netherlands has been reduced, database updated
                                    <div class="media-annotation">Feb 8, 11:30</div>
                                </div>
                            </li>

                            <li class="media">
                                <div class="media-left">
                                    <a href="#" class="btn bg-warning-400 btn-rounded btn-icon btn-xs"><i class="icon-bubble8"></i></a>
                                </div>

                                <div class="media-body">
                                    New review received on <a href="#">Server side integration</a> services
                                    <div class="media-annotation">Feb 2, 10:20</div>
                                </div>
                            </li>

                            <li class="media">
                                <div class="media-left">
                                    <a href="#" class="btn bg-teal-400 btn-rounded btn-icon btn-xs"><i class="icon-spinner11"></i></a>
                                </div>

                                <div class="media-body">
                                    <strong>January, 2016</strong> - 1320 new users, 3284 orders, $49,390 revenue
                                    <div class="media-annotation">Feb 1, 05:46</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-bubble8"></i>
                        <span class="visible-xs-inline-block position-right">Messages</span>
{#                        <span class="status-mark border-pink-300"></span>#}
                        <span class="badge bg-indigo-400 border-white">7</span>
                    </a>

                    <div class="dropdown-menu dropdown-content width-350">
{#                        <div class="dropdown-content-heading">#}
{#                            Messages#}
{#                            <ul class="icons-list">#}
{#                                <li><a href="#"><i class="icon-compose"></i></a></li>#}
{#                            </ul>#}
{#                        </div>#}

                        <ul class="media-list dropdown-content-body">
                            <li class="media">
                                <div class="media-left">
                                    {% thumbnail_ui profile 'photo_thumbnail_square' as im %}
                                        <img src="{{ im.url }}" class="img-circle img-sm" alt="">
                                    {% empty %}
                                        <img src="{% static 'images/placeholder.jpg' %}" class="img-circle img-sm" alt="">
                                    {% endthumbnail_ui %}
                                    <span class="badge bg-danger-400 media-badge">5</span>
                                </div>

                                <div class="media-body">
                                    <a href="#" class="media-heading">
                                        <span class="text-semibold">James Alexander</span>
                                        <span class="media-annotation pull-right">04:58</span>
                                    </a>

                                    <span class="text-muted">who knows, maybe that would be the best thing for me...</span>
                                </div>
                            </li>

                            <li class="media">
                                <div class="media-left">
                                    <img src="{% static 'images/placeholder.jpg' %}" class="img-circle img-sm" alt="">
                                    <span class="badge bg-danger-400 media-badge">4</span>
                                </div>

                                <div class="media-body">
                                    <a href="#" class="media-heading">
                                        <span class="text-semibold">Margo Baker</span>
                                        <span class="media-annotation pull-right">12:16</span>
                                    </a>

                                    <span class="text-muted">That was something he was unable to do because...</span>
                                </div>
                            </li>

                            <li class="media">
                                <div class="media-left"><img src="{% static 'images/placeholder.jpg' %}" class="img-circle img-sm" alt=""></div>
                                <div class="media-body">
                                    <a href="#" class="media-heading">
                                        <span class="text-semibold">Jeremy Victorino</span>
                                        <span class="media-annotation pull-right">22:48</span>
                                    </a>

                                    <span class="text-muted">But that would be extremely strained and suspicious...</span>
                                </div>
                            </li>

                            <li class="media">
                                <div class="media-left"><img src="{% static 'images/placeholder.jpg' %}" class="img-circle img-sm" alt=""></div>
                                <div class="media-body">
                                    <a href="#" class="media-heading">
                                        <span class="text-semibold">Beatrix Diaz</span>
                                        <span class="media-annotation pull-right">Tue</span>
                                    </a>

                                    <span class="text-muted">What a strenuous career it is that I've chosen...</span>
                                </div>
                            </li>

                            <li class="media">
                                <div class="media-left"><img src="{% static 'images/placeholder.jpg' %}" class="img-circle img-sm" alt=""></div>
                                <div class="media-body">
                                    <a href="#" class="media-heading">
                                        <span class="text-semibold">Richard Vango</span>
                                        <span class="media-annotation pull-right">Mon</span>
                                    </a>

                                    <span class="text-muted">Other travelling salesmen live a life of luxury...</span>
                                </div>
                            </li>
                        </ul>

                        <div class="dropdown-content-footer">
                            <a href="#" data-popup="tooltip" title="All messages"><i class="icon-menu display-block"></i></a>
                        </div>
                    </div>
                </li>
                <li class="dropdown dropdown-user">
                    <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        {% thumbnail_ui profile 'photo_thumbnail_square' as im %}
                            <img src="{{ im.url }}" alt="">
                        {% empty %}
                            <img src="{% static 'images/placeholder.jpg' %}" alt="">
                        {% endthumbnail_ui %}
                        <span>{{ profile.first_name }}</span>
                        <i class="caret"></i>
                    </a>

                    <ul class="dropdown-menu dropdown-menu-right">
                        <li class="profile">
                            <a>
                                {% thumbnail_ui profile 'photo_thumbnail_square' as im %}
                                    <img src="{{ im.url }}" style="margin-top: 0;" alt="">
                                {% empty %}
                                    <img src="{% static 'images/placeholder.jpg' %}" style="margin-top: 0;" alt="">
                                {% endthumbnail_ui %}
                                <span style="padding-top: 7.5px; padding-bottom: 7.5px; display: inline-block;">{{ profile.first_name }}</span>
                            </a>
                        </li>
                        <li class="profile">
                            <a>
                                {% thumbnail_ui profile1 'photo_thumbnail_square' as im %}
                                    <img src="{{ im.url }}" style="margin-top: 0;" alt="">
                                {% empty %}
                                    <img src="{% static 'images/placeholder.jpg' %}" style="margin-top: 0;" alt="">
                                {% endthumbnail_ui %}
                                <span style="padding-top: 7.5px; padding-bottom: 7.5px; display: inline-block;">{{ profile.first_name }}</span>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="{% url 'page:settings' %}"><i class="icon-cog5"></i> Account settings</a></li>
                        <li><a href="{% url 'auth_logout' %}"><i class="icon-switch2"></i> Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>