<div class="sidebar sidebar-main sidebar-fixed">{% load static hogwarts_ui %}
    <div class="sidebar-content">

        <!-- User menu -->
        <div class="sidebar-user-material">
            <div class="category-content">
                <div class="sidebar-user-material-content">
                    <a href="#">
                        {% thumbnail_ui profile 'photo_thumbnail_square' as im %}
                            <img src="{{ im.url }}" class="img-circle img-responsive" alt="">
                        {% empty %}
                            <img src="{% static 'images/placeholder.jpg' %}" class="img-circle img-responsive" alt="">
                        {% endthumbnail_ui %}
                    </a>
                    <h6>{{ profile.last_name }} {{ profile.first_name }}</h6>
                    <span class="text-size-small">{{ institution.name }}</span>
                </div>

                <div class="sidebar-user-material-menu">
                    <a href="#user-nav" data-toggle="collapse"><span>My account</span> <i class="caret"></i></a>
                </div>
            </div>

            <div class="navigation-wrapper collapse" id="user-nav">
                <ul class="navigation">
                    <li><a href="{% url 'page:settings' %}"><i class="icon-cog5"></i> <span>Settings</span></a></li>
                    <li><a href="{% url 'auth_logout' %}"><i class="icon-switch2"></i> <span>Logout</span></a></li>
                </ul>
            </div>
        </div>
        <!-- /user menu -->

        <!-- Main navigation -->
        {% include 'navigation/main-navigation.html' %}
        <!-- /main navigation -->

    </div>
</div>