{% extends 'base.html' %}
{% load static hogwarts_ui %}

{% block body-options %}class="login-container"{% endblock %}

{% block main-navbar %}
    <!-- Main navbar -->
    <div class="navbar navbar-inverse">
        <div class="navbar-header">
            <a class="navbar-brand" href="/"><img src="{% static 'images/logo_light.png' %}" alt=""></a>

            <ul class="nav navbar-nav pull-right visible-xs-block">
                <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
            </ul>
        </div>
    </div>
    <!-- /main navbar -->
{% endblock %}

{% block main-sidebar %}{% endblock %}

<!-- Content area -->
{% block content %}
    {% include 'forms/registration.html' %}
{% endblock content %}
<!-- /content area -->

{% block footer %}{% footer 'text-center' %}{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'js/core/libraries/jquery_ui/interactions.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/core/libraries/jquery_ui/widgets.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/core/libraries/jquery_ui/effects.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/extensions/mousewheel.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/core/libraries/jquery_ui/globalize/globalize.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/pages/jqueryui_forms.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/pages/login.js' %}"></script>
{% endblock js %}