<!DOCTYPE html>{% load static hogwarts_ui %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Limitless - Responsive Web Application Kit by Eugene Kopyov</title>

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="{% static 'css/icons/icomoon/styles.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/core.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/components.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/colors.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/extras/animate.css' %}" rel="stylesheet" type="text/css">
    <style>
        .content {
            padding: 0 20px 0 20px;
        }
        .sidebar-user-material .category-content {
            background: url({% thumbnail_ui profile 'cover_thumbnail' as im %}{{ im.url }}{% empty %}{% static 'images/backgrounds/user_bg4.jpg' %}{% endthumbnail_ui %}) center center no-repeat;
            background-repeat: no-repeat;
            background-position: center center;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
        .dropdown-menu {
            min-width: 220px;
        }
        .dropdown-menu > li.profile {
            margin-bottom: 1px;
        }
        .dropdown-menu > li.profile > a {
            padding: 4px 16px;
        }
        .status-mark-mobile {
            display: inline-block;
            position: absolute;
            background: white;
            color: #81C784;
            padding: 2px 0;
            top: -3px;
            left: -1px;
            border: 0 solid white;
            border-radius: 2px;
            font-size: 12px;
        }
    </style>
    {% block css %}{% endblock %}
    <!-- /global stylesheets -->

</head>

<body {% block body-options %}class="navbar-top"{% endblock %}
      data-session-key="{{ request.session.session_key }}"
      data-profile-id="{{ profile.pk }}">

<!-- Main navbar -->
{% block main-navbar %}
    {% include 'navigation/main-navbar.html' %}
{% endblock %}
<!-- /main navbar -->

<!-- Page container -->
<div class="page-container">

    <!-- Page content -->
    <div class="page-content">

        <!-- Main sidebar -->
        {% block main-sidebar %}
            {% include 'navigation/main-sidebar.html' %}
        {% endblock %}
        <!-- /main sidebar -->

        <!-- Secondary sidebar -->
        {% block secondary-sidebar %}{% endblock %}
        <!-- /secondary sidebar -->

        <!-- Main content -->
        <div class="content-wrapper">

            <!-- Content area -->
            <div class="content">
                {% block content %}{% endblock %}

                <!-- Footer -->
                {% block footer %}{% footer %}{% endblock %}
                <!-- /footer -->

            </div>
            <!-- /content area -->

        </div>
        <!-- /main content -->

    </div>
    <!-- /page content -->

</div>
<!-- /page container -->

<!-- Core JS files -->
{#    <script type="text/javascript" src="{% static 'js/plugins/loaders/pace.min.js' %}"></script>#}
    <script type="text/javascript" src="{% static 'js/core/libraries/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/core/libraries/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/loaders/blockui.min.js' %}"></script>
    <!-- /core JS files -->

    <!-- Theme JS files -->
    <script type="text/javascript" src="{% static 'js/plugins/visualization/d3/d3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/visualization/d3/d3_tooltip.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/forms/styling/switchery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/forms/styling/switch.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/forms/styling/uniform.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/forms/selects/bootstrap_multiselect.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/ui/moment/moment.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/pickers/daterangepicker.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/ui/nicescroll.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/core/app.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/pages/layout_fixed_custom.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/plugins/ui/ripple.min.js' %}"></script>
    <!-- /theme JS files -->

    <script>
        $(function() {
            $(".switch").bootstrapSwitch();
        });
        String.prototype.format = function(o){
            return this.replace(/\{(\S+)\}/g, function(m, n) {
                return o[n] ? o[n] : "";
            });
        };
{#        String.prototype.format = function(){#}
{#            var args = arguments;#}
{#            return this.replace(/\{(\d+)\}/g, function(m, n){#}
{#                return args[n] ? args[n] : m;#}
{#            });#}
{#        };#}
    </script>

    {% block js %}
    {% endblock js %}

</body>
</html>