{% extends 'base.html' %}
{% load static %}

{% block body-options %}class="navbar-top has-detached-right"{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'js/core/libraries/jquery_ui/widgets.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/ui/jquery.dotdotdot.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/apps/cabinets.js' %}"></script>
{% endblock js %}

{% block content %}
    <div class="content">

        <div class="container-detached">
            <div class="content-detached">
                <div class="row">
                    {% for i in 'xxx' %}
                        <div class="col-md-6 col-sm-12 col-lg-4" style="padding-left: 6px; padding-right: 6px;">
                            <div class="panel panel-body" title="Mathematics room and other" style="margin-bottom: 12px;">
                                <div class="media">
                                    <div class="media-left" style="vertical-align: middle">
                                        <span class="label bg-success" style="margin-bottom: 5px; font-size: 13px; padding: 6px;">{{ forloop.counter }}</span>
                                    </div>
                                    <div class="media-body">
                                        <h6 class="media-heading">Mathematics room and other</h6>
                                        <span class="text-muted">General auditory</span>
                                    </div>

                                    <div class="media-right media-middle">
                                        <ul class="icons-list">
                                            <li class="dropdown">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                    <i class="icon-menu7"></i>
                                                </a>

                                                <ul class="dropdown-menu dropdown-menu-right">
                                                    <li class="cabinet-process"><a href="#">Reserve</a></li>
                                                    <li class="cabinet-process"><a href="#">Free</a></li>
                                                    <li class="cabinet-process"><a href="#">Transfer</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="blockui-message">
                                    <i class="icon-spinner10 spinner"></i>
                                    <span class="text-semibold display-block">Loading</span>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center content-group-lg pt-20">
                            <ul class="pagination pagination-separated pagination-xm">
                                <li><a href="#">&lsaquo;</a></li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li class="disabled"><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">&rsaquo;</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="sidebar-detached">
            <div class="sidebar sidebar-default sidebar-separate">
                <div class="sidebar-content">
                    <div class="sidebar-category">
                        <div class="category-title">
                            <span>Find Cabinet</span>
                        </div>

                        <div class="category-content" style="display: block;">
                            <form method="post">{% csrf_token %}
                                <div class="has-feedback has-feedback-left form-group">
                                    <input type="search" class="form-control ui-autocomplete-input" placeholder="Teacher" id="ac-remote3">
                                    <div class="form-control-feedback">
                                        <i class="icon-search4 text-size-base text-muted"></i>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Date time interval:</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="icon-calendar22"></i></span>
                                        <input type="text" class="form-control daterange-time" value="03/18/2013 - 03/23/2013">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <legend class="text-size-mini text-muted no-border no-padding">Housing</legend>

                                    <div class="checkbox">
                                        <label class="display-block">
                                            <div class="checker"><span><input type="checkbox" class="styled"></span></div>
                                            Development
                                            <span class="text-muted">(83)</span>
                                        </label>
                                    </div>

                                    <div class="checkbox">
                                        <label class="display-block">
                                            <div class="checker"><span><input type="checkbox" class="styled"></span></div>
                                            Design
                                            <span class="text-muted">(92)</span>
                                        </label>
                                    </div>

                                    <div class="checkbox">
                                        <label class="display-block">
                                            <div class="checker"><span><input type="checkbox" class="styled"></span></div>
                                            Management
                                            <span class="text-muted">(36)</span>
                                        </label>
                                    </div>

                                    <div class="checkbox">
                                        <label class="display-block">
                                            <div class="checker"><span><input type="checkbox" class="styled"></span></div>
                                            Finances
                                            <span class="text-muted">(50)</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <legend class="text-size-mini text-muted no-border no-padding">Department</legend>

                                    <div class="checkbox">
                                        <label class="display-block">
                                            <div class="checker"><span><input type="checkbox" class="styled"></span></div>
                                            Development
                                            <span class="text-muted">(83)</span>
                                        </label>
                                    </div>

                                    <div class="checkbox">
                                        <label class="display-block">
                                            <div class="checker"><span><input type="checkbox" class="styled"></span></div>
                                            Design
                                            <span class="text-muted">(92)</span>
                                        </label>
                                    </div>

                                    <div class="checkbox">
                                        <label class="display-block">
                                            <div class="checker"><span><input type="checkbox" class="styled"></span></div>
                                            Management
                                            <span class="text-muted">(36)</span>
                                        </label>
                                    </div>

                                    <div class="checkbox">
                                        <label class="display-block">
                                            <div class="checker"><span><input type="checkbox" class="styled"></span></div>
                                            Finances
                                            <span class="text-muted">(50)</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <legend class="text-size-mini text-muted no-border no-padding">Speciality</legend>

                                    <div class="checkbox">
                                        <label class="display-block">
                                            <div class="checker"><span><input type="checkbox" class="styled"></span></div>
                                            Development
                                            <span class="text-muted">(83)</span>
                                        </label>
                                    </div>

                                    <div class="checkbox">
                                        <label class="display-block">
                                            <div class="checker"><span><input type="checkbox" class="styled"></span></div>
                                            Design
                                            <span class="text-muted">(92)</span>
                                        </label>
                                    </div>

                                    <div class="checkbox">
                                        <label class="display-block">
                                            <div class="checker"><span><input type="checkbox" class="styled"></span></div>
                                            Management
                                            <span class="text-muted">(36)</span>
                                        </label>
                                    </div>

                                    <div class="checkbox">
                                        <label class="display-block">
                                            <div class="checker"><span><input type="checkbox" class="styled"></span></div>
                                            Finances
                                            <span class="text-muted">(50)</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <legend class="text-size-mini text-muted no-border no-padding">Status</legend>

                                    <div class="checkbox">
                                        <label class="display-block">
                                            <div class="checker"><span><input type="checkbox" class="styled"></span></div>
                                            Free
                                            <span class="text-muted">(83)</span>
                                        </label>
                                    </div>

                                    <div class="checkbox">
                                        <label class="display-block">
                                            <div class="checker"><span><input type="checkbox" class="styled"></span></div>
                                            Using
                                            <span class="text-muted">(92)</span>
                                        </label>
                                    </div>
                                </div>

                                <button class="btn bg-blue btn-block legitRipple">Filter</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}