{% extends 'base.html' %}
{% load static %}

{% block css %}
    <style>
        #ac-remote2::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: #999;
            font-size: 15px;
        }
        #ac-remote2::-moz-placeholder { /* Firefox 19+ */
            color: #999;
            font-size: 15px;
        }
        #ac-remote2:-ms-input-placeholder { /* IE 10+ */
            color: #999;
            font-size: 15px;
        }
        #ac-remote2:-moz-placeholder { /* Firefox 18- */
            color: #999;
            font-size: 15px;
        }
    </style>
{% endblock css %}

{% block js %}
    <script type="text/javascript" src="{% static 'js/core/libraries/jquery_ui/interactions.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/ui/fullcalendar/fullcalendar.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/forms/selects/select2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/core/libraries/jquery_ui/widgets.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/core/libraries/jquery_ui/effects.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/pickers/color/spectrum.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/apps/timetable.js' %}"></script>
{% endblock js %}

{% block content %}
    <div class="panel panel-flat">
        <div class="panel-body">
            <div class="timetable"></div>
        </div>
    </div>
    <div class="panel panel-flat">
        <div class="panel-body">
            <div class="row show-grid">
                <div class="col-md-3">
                    <ul class="nav nav-pills nav-pills-toolbar nav-xs nav-justified">
                        <li class="active"><a href="#choose" data-toggle="tab" class="legitRipple">Choose</a></li>
                        <li><a href="#create" data-toggle="tab" class="legitRipple">Create</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="choose">
                            <div class="form-group has-feedback has-feedback-left">
                                <input type="text" class="form-control ui-autocomplete-input" id="ac-remote" placeholder="Type to filter..." autocomplete="off">
                                <div class="form-control-feedback">
                                    <i class="icon-search4 text-size-base"></i>
                                </div>
                            </div>
                            <div class="content-group" id="external-events">
                                <div class="fc-events-container content-group">
                                    <div class="fc-event" data-color="#546E7A">Sauna and stuff</div>
                                    <div class="fc-event" data-color="#26A69A">Lunch time</div>
                                    <div class="fc-event" data-color="#546E7A">Meeting with Fred</div>
                                    <div class="fc-event" data-color="#FF7043">Shopping</div>
                                    <div class="fc-event" data-color="#5C6BC0">Restaurant</div>
                                    <div class="fc-event">Basketball</div>
                                    <div class="fc-event">Daily routine</div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="create">
                            <div class="form-group" style="margin-bottom: 15px">
                                <form method="post">{% csrf_token %}
                                    <fieldset class="content-group">
                                        <input type="text" class="form-control input-xlg" placeholder="Name" name="name">
                                        <input type="text" class="form-control input-xlg" placeholder="Note" name="note">
                                        <div class="has-feedback has-feedback-left">
                                            <input type="text" class="form-control ui-autocomplete-input" id="ac-remote2" placeholder="Cabinet" name="cabinet" autocomplete="off" style="padding-left: 0; font-size: 15px; height: 42px;">
                                        </div>
                                        {#                                            <input type="text" class="form-control input-xlg" placeholder="Cabinet" name="cabinet">#}
                                        {#                                            <input type="text" class="form-control input-xlg" placeholder="Color" name="color">#}
                                        <div style="margin-top: 15px">
                                            <input type="text" class="form-control colorpicker" placeholder="Color" name="color" value="#27ADCA">
                                        </div>
                                    </fieldset>
                                    <button type="submit" class="btn btn-default btn-group-justified">Save</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="timetable"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}